.contact-input {
    box-sizing: border-box;
    border: none;
    width: 70%;
    margin: 1rem auto;
    padding: 0.5rem;
    display: block;
}
.contactForm {
    margin-top: 2rem;
}
.contactForm,
.contact-text {
    text-align: center;
}

textarea {
    height: 8rem;
}

.form-error-message {
    color: $alt-color-three;
    margin-top: -0.7rem;
    padding-top: 0;
}

.form-fail-to-send-message {
    margin-top: 0;
}

.form-success-message {
    color: $primary-color;
}

@media only screen and (max-width: 600px) {
    .contact-input {
        width: 100%;
    }
}
