.contact-input {
    box-sizing: border-box;
    border: none;
    width: 70%;
    margin: 1rem auto;
    padding: 0.5rem;
    display: block;
}

.contact-form {
    margin-top: 2rem;
}

.contact-form,
.contact-text {
    text-align: center;
}

textarea {
    height: 8rem;
}

.form-error-message,
body.dark .form-error-message {
    color: $alt-color-three;
}

.form-success-message,
body.dark .form-success-message {
    color: $primary-color;
}

@media only screen and (max-width: 600px) {
    .contact-input {
        width: 100%;
    }
}
