.footer-container {
    text-align: center;
    padding-bottom: 5rem;
}

.linkedin-logo-fill {
    fill: $primary-color;
}

.linkedin-logo-whitespace {
    fill: $white;
}

.github-logo {
    display: inline-block;
    width: 1.4rem;
    margin-left: 1rem;
    vertical-align: bottom;
    opacity: 0.75;
}

.linkedin-logo {
    display: inline-block;
    width: 1.4rem;
    margin-left: 1rem;
    vertical-align: bottom;
    opacity: 0.75;
}

body.dark {
    .linkedin-logo-whitespace {
        fill: $black;
    }
}
