.nav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: block;
    cursor: pointer;
    font-family: $style-font;
    font-size: 2rem;
    font-weight: 900;
    color: $primary-color;
}

// @media only screen and (max-width: 600px) {
// 	.nav-container {
// 		flex-flow: column nowrap;
// 	}
// 	.links {
// 		display: none;
// 	}
// }
