// Project Video Variables
$videoBorderRadius: 0.3em;
$videoBoxShadow: 1px 1px 25px 0px rgba(50, 50, 50, 0.5);
$videoMargin: 30px;

.browser {
    width: 300px;
    height: 25px;
}

.browse-svg {
    border-radius: $videoBorderRadius $videoBorderRadius 0 0;
    box-shadow: $videoBoxShadow;
}

.browser-bar {
    fill: $black;
}

.left-circle {
    fill: $alt-color-three;
}

.middle-circle {
    fill: #ecd96f;
}

.right-circle {
    fill: $alt-color;
}

.address-bar {
    fill: $white;
}

.project-video {
    width: 300px;
    box-shadow: $videoBoxShadow;
}

.video-container {
    width: 300px;
}

.individual-project {
    display: flex;
    padding: 20px 0;
}

.individual-project:last-child {
    padding-bottom: 0;
}

.right-video {
    margin: 0 0 $videoMargin $videoMargin;
}

.left-video {
    margin: 0 $videoMargin $videoMargin 0;
}

.right-project {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 600px) {
    .video-container {
        margin: 0 auto $videoMargin auto;
    }
    .individual-project {
        display: block;
        padding: 40px 0;
    }
}

.github-logo {
    display: inline-block;
    width: 1.4rem;
    margin-left: 1rem;
    vertical-align: bottom;
    opacity: 0.75;
}

.project-title {
    display: inline;
}

.project-title-container {
    margin-bottom: 1.5rem;
}

.project-description {
    margin-bottom: 1.5rem;
}

.tech-used {
    justify-content: flex-start;
}

body.dark {
    .browse-svg {
        box-shadow: none;
    }

    .project-video {
        box-shadow: none;
    }

    .browser-bar {
        fill: $white;
    }
}
