// Project Video Variables
$videoBorderRadius: 0.3em;
$videoBoxShadow: 1px 1px 25px 0px rgba(50, 50, 50, 0.5);
$videoMargin: 30px;

.browser {
	width: 300px;
	height: 25px;
}

.browserSVG {
	border-radius: $videoBorderRadius $videoBorderRadius 0 0;
	box-shadow: $videoBoxShadow;
}

.browserBar {
	fill: $black;
	// fill: $grey;
}

.leftCircle {
	// fill: #f0582f;
	fill: $alt-color-three;
}

.middleCircle {
	// fill: #fbd303;
	fill: #ecd96f;
}

.rightCircle {
	// fill: #71d456;
	fill: $alt-color;
}

.addressBar {
	fill: $white;
}

.projectVideo {
	width: 300px;
	border-radius: 0 0 $videoBorderRadius $videoBorderRadius;
	box-shadow: $videoBoxShadow;
}

.videoContainer {
	width: 300px;
}

.individualProject {
	display: flex;
	padding: 20px 0;
	// align-items: center;
}

.individualProject:last-child {
	padding-bottom: 0;
}

.rightVideo {
	margin: 0 0 $videoMargin $videoMargin;
}

.leftVideo {
	margin: 0 $videoMargin $videoMargin 0;
}

.rightProject {
	flex-direction: row-reverse;
}

@media only screen and (max-width: 600px) {
	.videoContainer {
		margin: 0 auto $videoMargin auto;
	}
	.individualProject {
		display: block;
		padding: 40px 0;
	}
}

.githubLogo {
	display: inline-block;
	width: 1.4rem;
	margin-left: 1rem;
	vertical-align: bottom;
	opacity: 0.75;
}

.projectTitle {
	display: inline;
}

.projectTitleContainer {
	margin-bottom: 1.5rem;
}

.projectDescription {
	margin-bottom: 1.5rem;
}

.techUsed {
	justify-content: flex-start;
}
