.all-work {
    border-left: solid $alt-color-three 1px;
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 0 auto;
    width: 300px;
}

.work-container {
    margin: 0 auto;
}

.individual-work {
    position: relative;
    margin-bottom: 3rem;
}

.individual-work:last-child {
    margin-bottom: 0;
}

.timeline-dot {
    color: $alt-color-three;
    position: absolute;
    font-size: 1.3rem;
    top: -0.4rem;
    left: -1.33rem;
}

.top-timeline-dot {
    font-size: 2rem;
    top: -0.75rem;
    left: -1.53rem;
}

.work-title {
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.work-company {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.work-description {
    margin-top: 0;
}
