// Import Fonts
// @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

// Font Variables
$style-font: 'Nunito Sans', sans-serif;
// $primary-font: 'Lato', sans-serif;
$primary-font: 'Nunito Sans', sans-serif;

// Color Variables
$white: #f1f1f1;
// $white: #fdf1e3;
$black: #232021;
$grey: #4e4b4c;
// $primary-color: #ec9c6f;
$primary-color: #58b882;
// $primary-color: #527941;
// $alt-color: #6feca5;
$alt-color: #58b882;
$alt-color-two: #8a6fec;
$alt-color-three: #ec9c6f;
