// Font Variables
$style-font: 'Nunito Sans', sans-serif;
$primary-font: 'Lato', sans-serif;

// Color Variables
$white: #f1f1f1;
// $white: #fdf1e3;
$black: #232021;
$primary-color: #ec9c6f;
// $primary-color: #527941;
