@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,300i,400,600,800,800i,900&display=swap");
body {
  background-color: #f1f1f1;
  color: #232021;
  font-family: "Nunito Sans", sans-serif;
}

body.dark {
  background-color: #232021;
  color: #f1f1f1;
}

a,
.link {
  text-decoration: none;
  color: #58b882;
}

a:hover,
.link:hover,
a:hover .github-logo .github-svg,
a:hover .linkedin-logo .linkedin-logo-fill,
.no-outline:hover {
  color: #429b69;
  fill: #429b69;
}

button,
input[type=submit] {
  background-color: #58b882;
  box-shadow: none !important;
  border: 1px solid #58b882;
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
  margin: 0 0.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.8rem;
  cursor: pointer;
  color: #f1f1f1;
}

body.dark button,
body.dark input[type=submit] {
  color: #232021;
}
body.dark input:not([type=submit]),
body.dark textarea {
  background-color: #4e4b4c;
}

.button-form {
  display: inline;
}

.no-outline,
body.dark .no-outline {
  border: none;
  background-color: transparent;
  color: #58b882;
}

button:hover,
input[type=submit]:hover {
  background-color: #429b69;
}

.no-outline:hover {
  background-color: transparent;
}

.outer-container {
  padding: 1rem;
}

.inner-container {
  max-width: 800px;
  margin: 3rem auto 3rem auto;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 0.3rem;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  color: #ec9c6f;
  font-weight: 800;
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 0.3rem;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  margin: 0;
}

p,
li,
.contact-input {
  color: #4e4b4c;
  font-weight: 300;
  font-size: 0.9rem;
}

body.dark p,
body.dark li,
body.dark .contact-input {
  color: #f1f1f1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  margin: 0 20px 0.3rem 0;
}

li:first-child {
  margin-left: 0;
}

li:last-child {
  margin-right: 0;
}

.primary {
  color: #58b882;
}

.alt {
  color: #58b882;
}

.alt2 {
  color: #8a6fec;
}

.alt3 {
  color: #ec9c6f;
}

.white {
  color: #f1f1f1;
}

.badge {
  display: block;
  margin: 40px auto 0 auto;
}

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: block;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #58b882;
}

.headshot {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.intro-subtext {
  font-weight: 300;
  margin-bottom: 0;
  text-align: left;
}

@media only screen and (max-width: 640px) {
  ul {
    justify-content: flex-start;
  }
}
.browser {
  width: 300px;
  height: 25px;
}

.browse-svg {
  border-radius: 0.3em 0.3em 0 0;
  box-shadow: 1px 1px 25px 0px rgba(50, 50, 50, 0.5);
}

.browser-bar {
  fill: #232021;
}

.left-circle {
  fill: #ec9c6f;
}

.middle-circle {
  fill: #ecd96f;
}

.right-circle {
  fill: #58b882;
}

.address-bar {
  fill: #f1f1f1;
}

.project-video {
  width: 300px;
  box-shadow: 1px 1px 25px 0px rgba(50, 50, 50, 0.5);
}

.video-container {
  width: 300px;
}

.individual-project {
  display: flex;
  padding: 20px 0;
}

.individual-project:last-child {
  padding-bottom: 0;
}

.right-video {
  margin: 0 0 30px 30px;
}

.left-video {
  margin: 0 30px 30px 0;
}

.right-project {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 600px) {
  .video-container {
    margin: 0 auto 30px auto;
  }

  .individual-project {
    display: block;
    padding: 40px 0;
  }
}
.github-logo {
  display: inline-block;
  width: 1.4rem;
  margin-left: 1rem;
  vertical-align: bottom;
  opacity: 0.75;
}

.project-title {
  display: inline;
}

.project-title-container {
  margin-bottom: 1.5rem;
}

.project-description {
  margin-bottom: 1.5rem;
}

.tech-used {
  justify-content: flex-start;
}

body.dark .browse-svg {
  box-shadow: none;
}
body.dark .project-video {
  box-shadow: none;
}
body.dark .browser-bar {
  fill: #f1f1f1;
}

.all-work {
  border-left: solid #ec9c6f 1px;
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 0 auto;
  width: 300px;
}

.work-container {
  margin: 0 auto;
}

.individual-work {
  position: relative;
  margin-bottom: 3rem;
}

.individual-work:last-child {
  margin-bottom: 0;
}

.timeline-dot {
  color: #ec9c6f;
  position: absolute;
  font-size: 1.3rem;
  top: -0.4rem;
  left: -1.33rem;
}

.top-timeline-dot {
  font-size: 2rem;
  top: -0.75rem;
  left: -1.53rem;
}

.work-title {
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.work-company {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.work-description {
  margin-top: 0;
}

.contact-input {
  box-sizing: border-box;
  border: none;
  width: 70%;
  margin: 1rem auto;
  padding: 0.5rem;
  display: block;
}

.contact-form {
  margin-top: 2rem;
}

.contact-form,
.contact-text {
  text-align: center;
}

textarea {
  height: 8rem;
}

.form-error-message,
body.dark .form-error-message {
  color: #ec9c6f;
}

.form-success-message,
body.dark .form-success-message {
  color: #58b882;
}

@media only screen and (max-width: 600px) {
  .contact-input {
    width: 100%;
  }
}
.footer-container {
  text-align: center;
  padding-bottom: 5rem;
}

.linkedin-logo-fill {
  fill: #58b882;
}

.linkedin-logo-whitespace {
  fill: #f1f1f1;
}

.github-logo {
  display: inline-block;
  width: 1.4rem;
  margin-left: 1rem;
  vertical-align: bottom;
  opacity: 0.75;
}

.linkedin-logo {
  display: inline-block;
  width: 1.4rem;
  margin-left: 1rem;
  vertical-align: bottom;
  opacity: 0.75;
}

body.dark .linkedin-logo-whitespace {
  fill: #232021;
}

.github-svg {
  fill: #58b882;
}

.toggle-button-knobs,
.toggle-button-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.toggle-button {
  position: relative;
  width: 90px;
  height: 36px;
  overflow: hidden;
  border-radius: 0.3rem;
}

.toggle-button-checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.toggle-button-knobs {
  z-index: 2;
}

.toggle-button-layer {
  width: 100%;
  background-color: #ebe4e6;
  transition: 0.3s ease all;
  z-index: 1;
}

.toggle-button-knobs:before,
.toggle-button-knobs:after,
.toggle-button-knobs span {
  position: absolute;
  top: 4px;
  width: 28px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 0.3rem;
  transition: 0.3s ease all;
}

.toggle-button-knobs:before,
.toggle-button-knobs:after {
  color: #4e4b4c;
  z-index: 1;
}

.toggle-button-knobs:before {
  content: "LIGHT";
  left: 4px;
}

.toggle-button-knobs:after {
  content: "DARK";
  right: 4px;
}

.toggle-button-knobs span {
  width: 34px;
  left: 44px;
  background-color: #8a6fec;
  z-index: 2;
}

.toggle-button-checkbox:checked + .toggle-button-knobs span {
  left: 4px;
  background-color: #8a6fec;
}

.toggle-button-checkbox:checked ~ .toggle-button-layer {
  background-color: #4e4b4c;
}

.toggle-button-checkbox:checked + .toggle-button-knobs:before,
.toggle-button-checkbox:checked + .toggle-button-knobs:after {
  color: #f1f1f1;
}

/*# sourceMappingURL=app.css.map */
