@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
* {
  color: #232021;
  font-family: "Nunito Sans", sans-serif; }

body {
  background-color: #f1f1f1; }

a,
.link {
  text-decoration: none;
  color: #58b882; }

a:hover,
.link:hover,
a:hover .githubLogo .githubSVG,
a:hover .linkedInLogo .linkedInLogoFill,
.noOutline:hover {
  color: #429b69;
  fill: #429b69; }

button,
input[type='submit'] {
  background-color: #58b882;
  box-shadow: none !important;
  border: 1px solid #58b882;
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
  margin: 0 0.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.8rem;
  cursor: pointer;
  color: #f1f1f1; }

.buttonForm {
  display: inline; }

.noOutline {
  border: none;
  background-color: transparent;
  color: #58b882; }

button:hover,
input[type='submit']:hover {
  background-color: #429b69; }

.noOutline:hover {
  background-color: transparent; }

.outerContainer {
  padding: 1rem; }

.innerContainer {
  max-width: 800px;
  margin: 3rem auto 3rem auto; }

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 0.3rem; }

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center; }

h3 {
  font-family: "Nunito Sans", sans-serif;
  color: #ec9c6f;
  font-weight: 800;
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 0.3rem; }

h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  margin: 0; }

p,
li,
.contactInput {
  color: #4e4b4c;
  font-weight: 300;
  font-size: 0.9rem; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

li {
  margin: 0 20px 0.3rem 0; }

li:first-child {
  margin-left: 0; }

li:last-child {
  margin-right: 0; }

.primary {
  color: #58b882; }

.alt {
  color: #58b882; }

.alt2 {
  color: #8a6fec; }

.alt3 {
  color: #ec9c6f; }

.white {
  color: #f1f1f1; }

.navContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.navLogo {
  display: block;
  position: relative;
  cursor: pointer;
  width: 3rem;
  transition: width 0.5s; }

.navLogo:hover {
  width: 10rem;
  transition: width 0.5s; }

.logoLetter {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #58b882;
  display: inline; }

.L {
  position: absolute;
  left: 1.45rem;
  transition: all 0.5s;
  transition-delay: 0.24s; }

.logoSubLetter {
  position: absolute;
  color: #58b882;
  font-size: 1.8rem;
  opacity: 0;
  transition: all 0.5s; }

.letter1 {
  left: 1.5rem;
  transition-delay: 0.28s; }

.letter2 {
  left: 2.35rem;
  transition-delay: 0.24s; }

.letter3 {
  left: 3.25rem;
  transition-delay: 0.2s; }

.letter4 {
  left: 3.7rem;
  transition-delay: 0.16s; }

.letter5 {
  left: 6.2rem;
  transition-delay: 0.12s; }

.letter6 {
  left: 6.65rem;
  transition-delay: 0.08s; }

.letter7 {
  left: 7.55rem;
  transition-delay: 0.04s; }

.letter8 {
  left: 8.45rem;
  transition-delay: 0s; }

.navLogo:hover .logoSubLetter {
  opacity: 1; }

.navLogo:hover .letter1 {
  transition-delay: 0s; }

.navLogo:hover .letter2 {
  transition-delay: 0.04s; }

.navLogo:hover .letter3 {
  transition-delay: 0.08s; }

.navLogo:hover .letter4 {
  transition-delay: 0.12s; }

.navLogo:hover .letter5 {
  transition-delay: 0.16s; }

.navLogo:hover .letter6 {
  transition-delay: 0.2s; }

.navLogo:hover .letter7 {
  transition-delay: 0.24s; }

.navLogo:hover .letter8 {
  transition-delay: 0.28s; }

.navLogo:hover .L {
  left: 5rem;
  transition: all 0.5s; }

@media only screen and (max-width: 600px) {
  .navContainer {
    flex-flow: column nowrap; }

  .links {
    display: none; } }
.headshot {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto; }

.introSubtext {
  font-weight: 300;
  color: #232021;
  margin-bottom: 0;
  text-align: left; }

@media only screen and (max-width: 640px) {
  ul {
    justify-content: flex-start; } }
.browser {
  width: 300px;
  height: 25px; }

.browserSVG {
  border-radius: 0.3em 0.3em 0 0;
  box-shadow: 1px 1px 25px 0px rgba(50, 50, 50, 0.5); }

.browserBar {
  fill: #232021; }

.leftCircle {
  fill: #ec9c6f; }

.middleCircle {
  fill: #ecd96f; }

.rightCircle {
  fill: #58b882; }

.addressBar {
  fill: #f1f1f1; }

.projectVideo {
  width: 300px;
  border-radius: 0 0 0.3em 0.3em;
  box-shadow: 1px 1px 25px 0px rgba(50, 50, 50, 0.5); }

.videoContainer {
  width: 300px; }

.individualProject {
  display: flex;
  padding: 20px 0; }

.individualProject:last-child {
  padding-bottom: 0; }

.rightVideo {
  margin: 0 0 30px 30px; }

.leftVideo {
  margin: 0 30px 30px 0; }

.rightProject {
  flex-direction: row-reverse; }

@media only screen and (max-width: 600px) {
  .videoContainer {
    margin: 0 auto 30px auto; }

  .individualProject {
    display: block;
    padding: 40px 0; } }
.githubLogo {
  display: inline-block;
  width: 1.4rem;
  margin-left: 1rem;
  vertical-align: bottom;
  opacity: 0.75; }

.projectTitle {
  display: inline; }

.projectTitleContainer {
  margin-bottom: 1.5rem; }

.projectDescription {
  margin-bottom: 1.5rem; }

.techUsed {
  justify-content: flex-start; }

.contactInput {
  box-sizing: border-box;
  border: none;
  width: 70%;
  margin: 1rem auto;
  padding: 0.5rem;
  display: block; }

.contactForm {
  margin-top: 2rem; }

.contactForm,
.contactText {
  text-align: center; }

textarea {
  height: 8rem; }

.formErrorMessage {
  color: #ec9c6f;
  margin-top: -0.7rem;
  padding-top: 0; }

.formFailToSendMessage {
  margin-top: 0; }

.formSuccessMessage {
  color: #58b882; }

@media only screen and (max-width: 600px) {
  .contactInput {
    width: 100%; } }
.footerContainer {
  text-align: center;
  padding-bottom: 5rem; }

.linkedInLogoFill {
  fill: #58b882; }

.linkedInLogoWhitespace {
  fill: #f1f1f1; }

.githubLogo {
  display: inline-block;
  width: 1.4rem;
  margin-left: 1rem;
  vertical-align: bottom;
  opacity: 0.75; }

.linkedInLogo {
  display: inline-block;
  width: 1.4rem;
  margin-left: 1rem;
  vertical-align: bottom;
  opacity: 0.75; }

.githubSVG {
  fill: #58b882; }

/*# sourceMappingURL=app.css.map */
