@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
* {
  color: #232021;
  font-family: "Lato", sans-serif; }

body {
  background-color: #f1f1f1; }

a {
  text-decoration: none; }

button {
  background-color: #ec9c6f;
  box-shadow: none !important;
  border: 1px solid #ec9c6f;
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
  margin: 0 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.8rem;
  cursor: pointer;
  color: #f1f1f1; }

.buttonForm {
  display: inline; }

.noOutline {
  border: none;
  background-color: transparent;
  color: #232021; }

button:hover {
  background-color: #e98d58; }

.noOutline:hover {
  background-color: transparent; }

.outerContainer {
  padding: 1rem; }

.innerContainer {
  max-width: 800px;
  margin: 0 auto; }

.navContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.navLogo {
  display: block;
  position: relative;
  cursor: pointer;
  width: 3rem;
  transition: width 0.5s; }

.navLogo:hover {
  width: 10rem;
  transition: width 0.5s; }

.logoLetter {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #ec9c6f;
  display: inline; }

.L {
  position: absolute;
  left: 1.45rem;
  transition: all 0.5s;
  transition-delay: 0.24s; }

.logoSubLetter {
  position: absolute;
  color: #ec9c6f;
  font-size: 1.8rem;
  opacity: 0;
  transition: all 0.5s; }

.letter1 {
  left: 1.5rem;
  transition-delay: 0.28s; }

.letter2 {
  left: 2.35rem;
  transition-delay: 0.24s; }

.letter3 {
  left: 3.25rem;
  transition-delay: 0.2s; }

.letter4 {
  left: 3.7rem;
  transition-delay: 0.16s; }

.letter5 {
  left: 6.2rem;
  transition-delay: 0.12s; }

.letter6 {
  left: 6.65rem;
  transition-delay: 0.08s; }

.letter7 {
  left: 7.55rem;
  transition-delay: 0.04s; }

.letter8 {
  left: 8.45rem;
  transition-delay: 0s; }

.navLogo:hover .logoSubLetter {
  opacity: 1; }

.navLogo:hover .letter1 {
  transition-delay: 0s; }

.navLogo:hover .letter2 {
  transition-delay: 0.04s; }

.navLogo:hover .letter3 {
  transition-delay: 0.08s; }

.navLogo:hover .letter4 {
  transition-delay: 0.12s; }

.navLogo:hover .letter5 {
  transition-delay: 0.16s; }

.navLogo:hover .letter6 {
  transition-delay: 0.2s; }

.navLogo:hover .letter7 {
  transition-delay: 0.24s; }

.navLogo:hover .letter8 {
  transition-delay: 0.28s; }

.navLogo:hover .L {
  left: 5rem;
  transition: all 0.5s; }

.headshot {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto; }

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem; }

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.3rem; }

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem; }

p,
li {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.9rem; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.orange {
  color: #ec9c6f; }

.white {
  color: #f1f1f1; }

.browser {
  width: 300px;
  height: 25px; }

.browserSVG {
  border-radius: 0.3em 0.3em 0 0;
  box-shadow: 1px 1px 25px 0px rgba(50, 50, 50, 0.5); }

.browserBar {
  fill: #232021; }

.leftCircle {
  fill: #f0582f; }

.middleCircle {
  fill: #fbd303; }

.rightCircle {
  fill: #71d456; }

.addressBar {
  fill: #f1f1f1; }

.projectVideo {
  width: 300px;
  border-radius: 0 0 0.3em 0.3em;
  box-shadow: 1px 1px 25px 0px rgba(50, 50, 50, 0.5); }

.videoContainer {
  width: 300px; }

.contactInput {
  box-sizing: border-box;
  border: none;
  width: 50%;
  margin: 0.5rem 0;
  display: block; }

.footerContainer {
  text-align: center; }

@media only screen and (max-width: 600px) {
  .navContainer {
    flex-flow: column nowrap; }

  .links {
    display: none; } }

/*# sourceMappingURL=main.css.map */
