// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

// Font Variables
$style-font: 'Nunito Sans', sans-serif;
$primary-font: 'Lato', sans-serif;

// Color Variables
$white: #f1f1f1;
// $white: #fdf1e3;
$black: #232021;
$primary-color: #ec9c6f;
// $primary-color: #527941;

// Animation Variables
$speed: 0.5s;
$letterDelayInterval: 0.04s;

* {
	color: $black;
	font-family: $primary-font;
}

body {
	background-color: $white;
}

a {
	text-decoration: none;
}

button {
	background-color: $primary-color;
	box-shadow: none !important;
	border: 1px solid $primary-color;
	border-radius: 0.3rem;
	padding: 0.4rem 0.8rem;
	margin: 0 0.5rem;
	font-family: $primary-font;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 0.8rem;
	cursor: pointer;
	color: $white;
}

.buttonForm {
	display: inline;
}

.noOutline {
	border: none;
	background-color: transparent;
	color: $black;
}

button:hover {
	background-color: darken($primary-color, 5%);
}

.noOutline:hover {
	background-color: transparent;
}

.outerContainer {
	padding: 1rem;
}

.innerContainer {
	max-width: 800px;
	margin: 0 auto;
}

.navContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.navLogo {
	display: block;
	position: relative;
	cursor: pointer;
	width: 3rem;
	transition: width $speed;
}

.navLogo:hover {
	width: 10rem;
	transition: width $speed;
}

.logoLetter {
	font-family: $style-font;
	font-size: 2rem;
	font-weight: 900;
	color: $primary-color;
	display: inline;
}

.L {
	position: absolute;
	left: 1.45rem;
	// ANIMATE OFF
	transition: all $speed;
	transition-delay: $letterDelayInterval * 6;
}

.logoSubLetter {
	position: absolute;
	color: $primary-color;
	font-size: 1.8rem;
	opacity: 0;
	// ANIMATE OFF
	transition: all $speed;
}

.letter1 {
	left: 1.5rem;
	transition-delay: $letterDelayInterval * 7;
}

.letter2 {
	left: 2.35rem;
	transition-delay: $letterDelayInterval * 6;
}

.letter3 {
	left: 3.25rem;
	transition-delay: $letterDelayInterval * 5;
}

.letter4 {
	left: 3.7rem;
	transition-delay: $letterDelayInterval * 4;
}

.letter5 {
	left: 6.2rem;
	transition-delay: $letterDelayInterval * 3;
}

.letter6 {
	left: 6.65rem;
	transition-delay: $letterDelayInterval * 2;
}

.letter7 {
	left: 7.55rem;
	transition-delay: $letterDelayInterval;
}

.letter8 {
	left: 8.45rem;
	transition-delay: 0s;
}

.navLogo:hover .logoSubLetter {
	opacity: 1;
}

.navLogo:hover .letter1 {
	transition-delay: 0s;
}

.navLogo:hover .letter2 {
	transition-delay: $letterDelayInterval;
}

.navLogo:hover .letter3 {
	transition-delay: $letterDelayInterval * 2;
}

.navLogo:hover .letter4 {
	transition-delay: $letterDelayInterval * 3;
}

.navLogo:hover .letter5 {
	transition-delay: $letterDelayInterval * 4;
}

.navLogo:hover .letter6 {
	transition-delay: $letterDelayInterval * 5;
}

.navLogo:hover .letter7 {
	transition-delay: $letterDelayInterval * 6;
}

.navLogo:hover .letter8 {
	transition-delay: $letterDelayInterval * 7;
}

.navLogo:hover .L {
	left: 5rem;
	transition: all $speed;
}

.headshot {
	width: 150px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

h1 {
	font-family: $style-font;
	font-weight: 600;
	font-size: 2rem;
}

h2 {
	font-family: $style-font;
	font-weight: 300;
	font-size: 1.3rem;
}

h3 {
	font-family: $style-font;
	font-weight: 400;
	font-size: 1rem;
}

p,
li {
	font-family: $primary-font;
	font-weight: 300;
	font-size: 0.9rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.orange {
	color: $primary-color;
}

.white {
	color: $white;
}

.projectVideo {
	width: 300px;
}

// .aboutContainer,
// .workContainer {
// 	background-color: $black;
// }

.footerContainer {
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.navContainer {
		flex-flow: column nowrap;
	}
	.links {
		display: none;
	}
}
